.mar-l-45-r-61{margin-left:45px;margin-right:61px;}
.mar-t-0-b-63{margin-top:0px;margin-bottom:63px;}
.mar-tb-50{margin-top:50px;margin-bottom:50px;}
.mar-t-44-b-73{margin-top:44px;margin-bottom:73px;}
.mar-t-73-b-61{margin-top:73px;margin-bottom:61px;}
.mar-t-61-b-34{margin-top:61px;margin-bottom:34px;}
.mar-t-34-b-51{margin-top:34px;margin-bottom:51px;}
.mar-t-51-b-79{margin-top:51px;margin-bottom:79px;}
.mar-t-79-b-62{margin-top:79px;margin-bottom:62px;}
.mar-t-53-b-78{margin-top:53px;margin-bottom:78px;}
.mar-t-78{margin-top:78px;}
.pad-l-65-r-61-b-28{padding-left:65px;padding-right:61px;padding-bottom:28px;}
.pad-t-94-b-54{padding-top:94px;padding-bottom:54px;}
.pad-t-35-r-50-b-33-l-61{padding-top:35px;padding-right:50px;padding-bottom:33px;padding-left:61px;}
.pad-tb-15-lr-57{padding-top:15px;padding-bottom:15px;padding-left:57px;padding-right:57px;}
.font-0{font-size: 0px;}
.font-36{font-size: 36px;}
.font-44{font-size: 44px;}
.font-48{font-size: 48px;}
.font-30{font-size: 30px;}
.font-40{font-size: 40px;}
.font-32{font-size: 32px;}
.line-height-50{line-height: 50px;}
.line-height-60{line-height: 60px;}
.line-height-30{line-height: 30px;}
.line-height-55{line-height: 55px;}