h1,
h2 {
    line-height: 1;
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a,
a:hover {
    text-decoration: none;
    color: #fff;
}
input[type="checkbox"] {
    position: absolute;
    max-width: 0;
    clip: rect(0 0 0 0);
}
p {
    margin: 0;
}
.bold{
    font-weight: bold;
    }
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.inline-block {
    display: inline-block;
}

.overflow {
    overflow: hidden;
}

.margin-0 {
    margin: 0;
}
.mar-lr-auto {
    margin-right: auto;
    margin-left: auto;
}
.font-0 {
    font-size: 0;
}
.bold {
    font-weight: bold;
}
.color-cfa56d {
    color: #cfa56d;
}

.color-333 {
    color: #333;
}
.color-666 {
    color: #666;
}
.color-fff {
    color: #fff;
}

.color-cecece {
    color: #cecece;
}

.color-717171 {
    color: #717171;
}

.color-ede4dc {
    color: #ede4dc;
}

.color-cfa56d {
    color: #cfa56d;
}

.color-E12926 {
    color: #E12926;
}
.bg-dd2723 {
    background: #dd2723;
}
.color-dcbf9c {
    color: #dcbf9c;
}

.bg-f8eadf {
    background-color: #f8eadf;
}

.bg-DD2723 {
    background: #DD2723
}

.bg-red {
    background: red;
}

.bg-fff {
    background: #fff;
}

.bg-cfa56d {
    background: #cfa56d;
}

.bg-f8f8f8 {
    background: #f8f8f8;
}

.auto-img {
    max-width: 100%;
}

.opacity-5 {
    filter:alpha(opacity=50);
    opacity: .5;
}